@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400&family=Rubik:wght@300;400&display=swap');

* {
  box-sizing: border-box;
}

body,
#root {
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* min-width: 320px; */
  min-height: 100vh;
  width: clamp(375px, 500%, 100vw);

  font-family: 'League Spartan', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: #0F2339;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 2.8em;
  line-height: 1.1;
  color: #fff
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

input {
    border: 2px solid gray;
    border-radius: 25px;
    background-image: url('/src/assets/searchicon.png');
    background-position: 10px;
    background-repeat: no-repeat;
    background-color: white;
    color: black;
    padding: 10px 20px 10px 40px;
    margin-bottom: 10px;
    width: 80%;
}

input[type=text]:focus {
    border: 2px solid #555;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote {
  background-color: #f9f9f9;
  border-radius: 10px;
  margin: 10px;
  padding: 10px 20px;
  width: 80%;
}

.quote__content {
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 1.5em;
}

.quote__author {
    margin-top: 0px;
    padding-top: 0px;
}